<p id="notice"><%= notice %></p>
<table class="table table-hover">
  <h3>Your Selection</h3><br />
  <tbody>
  <tr class="success">
  <tr>
    <td class="list_description">

      <dl>

        <p><b>Round: </b><em><%= @result.round %></em></p>
      </dl>

      <dl>

        <p><b>Home Team: </b><em><%= @result.team_name %></em></p>
      </dl>

      <dl>

        <p><b>Score: </b><em><%= @result.score %></em></p>
      </dl>

      <dl>

        <p><b>Away Team: </b><em><%= @result.oponent_name %></em></p>
      </dl>

      <dl>

        <p><b>Score: </b><em><%= @result.opponent_result %></em></p>
      </dl>

    </td>
    <td class="list_actions">
      <div class="btn-group">
        <div class="btn">
          <%= link_to 'Back', teams_path %>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>




